@import 'bootstrap/dist/css/bootstrap.min.css';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Space Mono', monospace;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.text-xs {
    font-size: 0.65rem;
}

.w-80 {
    width: 80%;
}

@media (max-width: 700px) {

}