@import 'bootstrap/dist/css/bootstrap.min.css';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Space Mono', monospace;
}

a, input, button {
    cursor: pointer;
}

h4 {
    font-size: 1.4rem;
}

p {
    font-size: 0.6rem;
}

label, input, button, .text_sz {
    font-size: 0.69rem !important;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.btn-fs {
    font-size: 0.7rem;
}

.w-80 {
    width: 80%;
}

@media (min-width: 701px) {

    h4 {
        font-size: 2rem;
    }

    p, label, input, button, .text_sz {
        font-size: 0.9rem !important;
    }

    .landing_greetings_wrapper {
        display: flex;
        justify-content: end;
        align-items: center;
    }

    .landing_greetings {
        width: 75%;
        background-color: black;
        padding: 5% 10%;
        border-radius: 10px;
        margin-right: 30px;
    }

    .form_div {
        width: 60%;
    }
}