@import 'bootstrap/dist/css/bootstrap.min.css';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Space Mono', monospace;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.text-xxs {
    font-size: 0.60rem;
}

.text-xs {
    font-size: 0.69rem;
}

.btn-fs {
    font-size: 0.7rem;
}

.w-80 {
    width: 80%;
}

@media (min-width: 701px) {

    .header_title {
        text-align: start;
    }
}